
@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cadastros
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Movimentação do Caixa</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Valor</label>
                                <input type="number" class="form-control" placeholder="Valor">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Motivo</label>
                                <input type="text" class="form-control" placeholder="Motivo">
                            </div>
                            <div class="form-group">
                            <label for="sel1">Tipo de Movimentação</label>
                                <select class="form-control" id="sel1">
                                    <option>Entrada</option>
                                    <option>Saída</option>
                                </select>
                            </div>                            
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>

                    <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Eventos</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Evento</label>
                                <input type="Text" class="form-control" placeholder="Evento">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Data</label>
                                <input type="date" class="form-control" placeholder="Data">
                            </div>
                            <div class="form-group">                          
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>                
                <!-- /.box -->
            
        </div>
        <!-- /.row -->
    </section>
    <section class="content-header">
        <h1>
            Presença em Reunião Geral
        </h1>
    </section>
    <section class="content">
        
    </section
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

